<table>

<tr>

<th>Question</th>

</tr>

<% obj.each do |question| %>

<tr>

<td><%= question.problem %></td>
<td>Created by:<%= question.user.username if question.user %></td>
<td><%= time_ago_in_words(question.created_at) %> ago</td>
<% if logged_in? && current_user == question.user %>
<td><%= link_to 'Show', question_path(question) %></td>
<% end %>
</tr>

<% end %>

</table>