  <% if @question.errors.any? %>
		Invalid: Answer is '<%= @question.answer %>'
  <% end %>
  
<h2 align="center">Question: <%= @question.problem %></h2>
<div align="center">
[ <%= link_to "Back to questions list", questions_path %> ]
</div>