<h1 align="center">Listing all questions</h1>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'question', obj: @questions%>
<div align="center">
  <%= will_paginate %>
</div>
<div align="center">
<%= link_to "Create new question", new_question_path %>
</div>