<h1 align="center">Score Board</h1>
<%= will_paginate %>
<% @users.each do |user| %>
<ul>
  <% if user.score %>
    <%= user.username%>
    <%= user.score%>
  <% end %>
</ul>
<% end %>
<%= will_paginate %>