<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<%= gravatar_for @user, size: 150 %>

<h4 align="center"><%= @user.username %>'s questions</h4>

<%= render 'questions/question', obj: @user.questions %>