

  <div class="jumbotron">
    <p>Everyone loves to play trivia games, so why not bring this experience to people all over the world? 
    In this project, you will be making a trivia game site. The objective for this site is for users to answer
    trivia questions to gain points, as well as for users to create their own trivia questions.
    </p>
  </div>
